* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    cursor: pointer;
}

.navbar__s1__title {
    color: #A435F0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    background-color: transparent;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 15px;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
}

.navbar__s4 {
    display: none;
}

/* My Learning popup */

.mylearning {
    position: relative;
    cursor: pointer;
}

.mylearning:hover .mylearning__popup {
    display: block;
}

.mylearning__popup {
    position: absolute;
    background-color: white;
    border: 1px black solid;
    width: 100px;
    top: 30px;
    padding: 20px;
    right: 0;
    display: none;
}

/* Categories */

.categories {
    display: flex;
    padding: 10px;
    border-bottom: black solid 1px;
    justify-content: space-around;
    cursor: pointer;
}

.categories>p {
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 2px 4px 6px black;
    border: #A435F0 solid 1px;
}

.categories>p:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

/* sales-item */

.sales-item {
    position: relative;
}

.sales-item img {
    width: 100%;
}

.sales-image__offer {
    position: absolute;
    width: 35%;
    border: 2px black solid;
    top: 10%;
    margin: 20px;
    padding: 30px;
    background-color: beige;
    animation-name: Zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes Zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* recommended */

.recommended {
    padding: 10px;
}

.recommended_container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
}

.course-card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 7px;
    justify-content: space-evenly;

    /* width: 200px; */
}

.course-card img {
    width: 100%;
    height: 50%;
    box-shadow: 2px 6px 8px black;
    cursor: pointer;
}

.course-card h4 {
    padding-top: 15px;
}

/* TOPICS */

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    padding: 10px;
    border: solid grey 2px;
    flex-grow: 1;
    flex-basis: 25%;
    text-transform: uppercase;
}

/* popular section */

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
}

/* Footer */

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.footer__one p {
    margin: 20px;
    justify-content: space-evenly;
}

.footer__two {
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.footer>.footer__one :hover {
    color: #A435F0;
}

.footer>.footer__two:hover {
    color: #A435F0;
}

/*Media Queries */

@media screen and (max-width:800px) {
    body {
        font-size: 10px;
    }

}

@media screen and (max-width:425px) {
    .course-card {
        flex-basis: 40%;
    }

    .categories>.one {
        display: none;
    }

    .navbar__s2,.navbar__s3 {
        display: none;
    }

    .navbar__s4 {
        display: block;
    }

}